extends ../layouts/default

block content
	.container: .jumbotron
		h1 Adam Taitano
		h3 Indie-Rock-Alt-Folk-Dream-Pop Portland-Based Artist
		hr
		a(href='/keystone').btn.btn-lg.btn-primary Listen
		a(href='/keystone').btn.btn-lg.btn-primary Learn
		hr
		if user && user.canAccessKeystone
			p
				a(href='/keystone').btn.btn-lg.btn-primary Open the Admin UI
		else
				a(href='/keystone/signin', style='margin-right: 10px').btn.btn-lg.btn-primary Sign in
				|  to use the Admin UI.
